body
{
    background-image:url(../images/background.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color:white;
}

.caracters,
.enemies,
.defender,
#caption
{
    display: inline-block;

}

.caracters
{
    border: 3px solid blue;

}

.enemies
{
    
    border: 3px solid orange;

}

.name,
.healthpoint
{
    margin:0px;
    padding:0px;
    text-align:center;
}

#header
{
    text-align: center;
}

/* .char
{
    border: 3px solid green;
} */

.defender
{
    border: 3px solid red;
}