body
{
    background-image:url(../images/background.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color:white;
}
.caracters,
.enemies
{
    display: inline-block;
    border: 1px solid red;
    /* padding-left: 5px;
    padding-right:5px; */

}

.name,
.healthpoint
{
    margin:0px;
    padding:0px;
    text-align:center;
}
.char
{
    border: 3px solid green;
}
.enemy
{
    border: 2px solid yellow;
}